@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes aurora {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-40px) rotate(10deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.after\:animate-aurora::after {
  animation: aurora 12s infinite ease-in-out;
}
